#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  box-sizing: border-box;
  /* background: linear-gradient(
    to bottom,

    #ffeae5 0%,
    #fff9da 70%,
    #e7ecf7 85%,
    #dce1e9 100% 
  ); */
}

h1 h2 {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  a {
    color: #bb86fc;
  }

  .yearflag {
    color: #ffffff;
  }
}

.gridStyle {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2rem;
  font-weight: bold;
  font-size: 2.2rem;
  color: transparent;
  text-align: center;
  background: linear-gradient(45deg, black, yellow);

  -webkit-text-stroke: '.4px white';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categoryTitle {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  font-weight: bold;
}

.adaptiveTitle {
  background: linear-gradient(to right, lightgreen, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.womentitle {
  background: linear-gradient(to right, blue, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.miniramp {
  background: linear-gradient(to right, gold, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mentitle {
  background: linear-gradient(to right, red, #7873f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.categoryContent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: 0.4em;
  height: 80px;
  width: 80px;
  margin: 1rem;
}

.yearflag {
  font-size: 0.6rem;
  display: flex;
  align-self: baseline;
}

#portraits {
  height: 85%;
  width: 70%;
  filter: grayscale(100%) drop-shadow(2px 2px 0px black);
  z-index: 1;
}

img {
  width: 100%;
}

/* GENERAL TEXT */

.generaltext {
  padding: 1rem;
  text-align: start;
}

#donts ul {
  list-style-type: none;
  padding: 0;
}

#donts li {
  margin-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
  line-height: 1.5;
}

#donts li::before {
  content: '✘';
  color: #f94f4f;
  font-weight: bold;
  position: absolute;
  left: 0;
}

#donts strong {
  color: #f94f4f;
}

/* #locationaccess img {
  width: 100%;
} */

#locationaccess ul {
  list-style: none;
}

#locationaccess li {
}

#locationaccess strong {
}
