#root {
  margin: 0 auto;
  text-align: center;
}

.gridStyle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
  background: linear-gradient(
    to bottom,

    #ffeae5 0%,
    /* naranja pastel muy claro */ #fff9da 92%,
    /* amarillo crema pálido */ #e7ecf7 95%,
    /* azul gris claro */ #dce1e9 100% /* azul casi blanco */
  );
}

.title {
  display: 'flex';
  flex-flow: 'row wrap';
  width: '100%';
  justify-content: 'center';
  margin: '2rem';
  font-weight: 'bold';
  font-size: '1.2rem';
  color: 'transparent';
  text-align: 'center';
  background: 'linear-gradient(45deg, black, yellow)';
  border: 1px solid blue;
  /* 
  webkittextstroke: '.4px white';
  webkitbackgroundclip: 'text';
  webkittextfillcolor: 'transparent'; */
}

.categoryTitle {
  display: 'flex';
  flex-flow: 'row wrap';
  width: '100%';
  justify-content: 'center';
  font-weight: 'bold';
}

.adaptiveTitle {
  background: 'linear-gradient(to right, lightgreen, black)';
  /* WebkitBackgroundClip: 'text',
  WebkitTextFillColor: 'transparent', */
}

.womenTitle {
  background: 'linear-gradient(to right, blue, orange)';
  /* WebkitBackgroundClip: 'text',
    WebkitTextFillColor: 'transparent', */
}

.row {
  display: 'flex';
  flex-flow: 'row wrap';
}

.categoryContent {
  display: 'flex';
  flex-flow: 'row wrap';
  width: '100%';
  justify-content: 'center';
}
